<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://kit.fontawesome.com/6f96630cbb.js" crossorigin="anonymous"></script> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <title> 
        <%= title %> 
    </title>
</head>
<body>
    <!-- <div>
        <ul>
            <% for ( let contact of contact_list) { %>
                <li>
                    <span><%= contact.name %>:</span>
                    <span><%= contact.phone %></span>
                </li>
            <% } %>
        </ul>
    </div>
    <form action="/contact-list" method="POST">
        <input type="text" placeholder="name" name="name" required>
        <input type="tel" placeholder="phone" name="number" required>
        <button type="submit">Submit</button>
    </form> -->
    <div class="container">
        <div id="heading">
            <i class="far fa-address-book"></i>
            <span id="contacts">Contacts</span>
        </div>
        <% for(let contact of contact_list) { %>
            <div class="list-items">
                <a href="/delete-contact/?id=<%= contact._id %>&name=<%= contact.name %>" class="pad5"><i class="fas fa-times"></i></a>
                <span class="contact-name pad5"><%= contact.name %></span>
                <span class="pad5"><%= contact.phone %></span>
            </div>
        <% }%>
    </div>
    <div class="form">
        <form action="/contact-list" method="POST">
            <input type="text" placeholder="Name" name="name" class="input" required>
            <input type="tel" placeholder="Number" name="number" class="input" required>
            <button type="submit">Add</button>
        </form>
    </div>
    <script src="js/home.js" type="text/javascript"></script>
</body>
</html>